<div class="card ">



 
        <div class="d-flex justify-content-around  my-4">
            <div >
                <div class="card-items m-2  ">
                    <p class=" ms-4 ">عرض التذكرة الخاصة بالفيلم</p>
                </div>
                <div class="card-link d-flex justify-content-around  ">
                    <p class="my-auto">www.tazkty.com/473847</p>
                    <i class="fa-regular fa-window-restore my-auto"></i>
                </div>
                <p class="tex mt-3 mb-4">فعال حتي 15 يوليو 2023</p>
            </div>
            <div class=" del my-4 text-center ">
                <i class="fa-regular text-white fa-trash-can   "></i>
                    <div class="trash-text m-auto  my-2 ">
                        <p>حذف</p>
                    </div>
                
    
            </div>

        </div>





        <div class="d-flex justify-content-between">
            
            <div class="line_radius">
            </div>
            <div class="line"></div>
            <div class="line_radius1">
            </div>
            
        </div><!--/line-end-->
        <div class="d-flex justify-content-around my-3">
            <div class=" my-5">
                <p class=" text-end">خصم</p>
                <div class="sharing d-flex justify-content-end">
                    <h6 class="">مشاركه </h6>
                    <p class=" text-end me-2">25%</p>
                </div>

            </div>

               <div>
                <qrcode
                #qrCode
                elementType="img"
                errorCorrectionLevel="M"
                [qrdata]="qrData"
                
              >
              </qrcode>
               </div>
        </div>


    </div><!--/card-->

   
    

   


    





