<div class="chart position-relative">
    <div class="chart-content d-flex justify-content-lg-between  ">
        <div class="chart-content-bottom ">
            <h6 >إحصائيات إستخدام القسيمة</h6>
        </div>
        <div class="chart-content-right ">
            <div class=" d-flex justify-content-around years">
                <i class="fa-solid fa-chevron-down "></i>
                <p >سنويا</p>
            </div>
        </div>
        
        
        

    </div>
    <p class="chart-bottom">05 يوليو , 2023 - 05 أغسطس , 2023</p>
    






          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div id="main"  style=" height: 350px;"></div>
                
              </div>
            </div>

          </div><!--/container-->




          <div class="used">
            <div class="usedData">
              <p >250 استخدام</p>
              <h6>1.3%</h6>
            </div>
          
          </div>
          
</div><!--/chart-->

