<div class="container-fluid my-5">
    <div class="row g-4">
        <div class="d-flex justify-content-between">
            <div class="second d-flex ms-4 ">
                <p>تذكرة رقم #2342 </p>
                <i class="fa-solid fa-arrow-right text-center pt-2"></i>

            </div>
            <div class="frist d-flex justify-content-around ms-4 ">
                <p >تعديل </p>
                <i class="fa-regular fa-pen-to-square "></i>
                
            </div>
            

        </div>
     <div class="col-md-7 col-sm-12">
        <app-chart></app-chart>
        
     </div>
     <div class="col-md-5 col-sm-12">
        
        <app-card></app-card>
     </div>

    </div>
    <div class="row">
        <div class="col-md-12 my-5">
            <app-table></app-table>
        </div>
    </div>
</div>
